---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.sitePages %}
  <url><loc>{{ site.url }}{% if item.url == '/index.html' %}/{% else %}{{ item.url }}{% endif %}</loc></url>
{% endfor %}
{% for category in collections.siteCategories %}
  <url><loc>{{ site.url }}{{ category.permalink }}</loc></url>
{% endfor %}
</urlset>
